.main {
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.1);
    box-shadow: 0 5px 4px rgba(0, 0, 0, 0.25);
    width: 389px;
    height: 595px;
}

.twoParts {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-left: 26px;
    gap: 78px;
}