.indexes {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 122px;
    margin-left: 100px;
    margin-right: 100px;
}

.firstButton {
    margin-right: 20px;
}