html,
body {
  padding: 0;
  margin: 0;
  background: linear-gradient(113.49deg, #984D38 -30.3%, #181E41 58.12%);

  font-family: 'Poppins', sans-serif;
  font-style: normal;
}

:root {
  --primary: linear-gradient(214.02deg, #B75CFF 6.04%, #671AE4 92.95%);
  --ghost: rgba(255, 255, 255, 0.1);
  --white: #FFFFFF;
}